<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" routerLink="/"><img src="assets/images/logo.png" alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini" routerLink="/"><img src="assets/images/logo-mini.png" alt="logo" /></a>
  </div>
  
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" (click)="toggleSidebar()">
      <span class="mdi mdi-menu"></span>
    </button>  
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleOffcanvas()">
      <span class="mdi mdi-menu"></span>
    </button>
    
          <nav class="navbar navbar-expand bg-white mynavbar">
            <a href="#" class="navbar-brand"></a>
            <ul class="navbar-nav mr-auto" routerLinkActive="active">
              <!--<li class="nav-item">
                <a href="/home" class="nav-link" routerLink="home">Home </a>
              </li> -->
              <li class="nav-item" *ngIf="showAdminBoard">
                <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
              </li>
              <li class="nav-item" *ngIf="showModeratorBoard">
                <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
              </li>
              <li class="nav-item">
                <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
              <li class="nav-item">
                <a href="/register" class="nav-link" *ngIf="isLoggedIn" routerLink="register">Sign Up</a>
              </li>
              <li class="nav-item">
                <a href="/login" class="nav-link" routerLink="login" *ngIf="isLoggedIn">Login</a>
              </li>
            </ul>
        
            <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
              <li class="nav-item">
                <a href="/profile" class="nav-link" *ngIf="!isLoggedIn" routerLink="profile" style="color:black">{{ username }}</a>
              </li>
              <li class="nav-item">
                <a href class="nav-link" *ngIf="!isLoggedIn" (click)="logout()" style="color:black">LogOut</a>
              </li>
            </ul>
          </nav>
        </div>

  
</nav>